$family-sans-serif: Roboto, Arial, sans-serif;
$font-family-heading: "Roboto Condensed", "Arial Black";

$primary: #002f5f;
$info: #00a9e0;
$danger: #ff5a00 !default;
$success: #81d481;
$link: #ff7900 !default;
$grey-dark: #394A58;
$grey-light: #818A8F;
