$family-sans-serif: Roboto, Arial, sans-serif;
$font-family-heading: "Roboto Condensed", "Arial Black";

$primary: #002F5F;
$info: #00A9E0;
$danger: #FF7900;
$success: #236C3C;
$link: #212492;
$grey-dark: #394A58;
$grey-light: #818A8F;
